
body
  width: 100%
  background-color: orange
h2
  color: black
  font-size: 24px
// %button-base
//   color: violet
//   border-radius: 2px solid
// button
//   @extend %button-base
//
//
// @mixin font ($weight, $size)
//   font-weight: $weight
//   font-size: $size
//   line-height: 1.2 * $sizes

p
  @include respond-to(tb)
    color: red
    font-size: 24px
  @include respond-to(ph)
    color: white
    font-size: 40px
    &::after
      content: "soy ph"
