<!DOCTYPE html>
<html>
<head>
	<title>angular</title>
	<meta charset="utf-8"/>
</head>
<body >
<div ng-app="helloWorld"> 
	
	<div ng-controller = "appCtrl">
	<p> {{msn}}</p>

	<!-- otra forma-->

	<p ng-bind="$scope.msn"> </p>
	
	</div>

</div>
 <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.min.js"></script>
<script type="text/javascript" src="app.js"> </script>
<script type="text/javascript" src="controller.js"> </script>

</body>
</body>
</html>